/* body du site */

a {
  text-decoration: none;
}

body {
  background-color: grey;
}

h1{
  color: black;
  text-align: center;
}

.button-inscri{
  background-color: white;
  width: 10rem;
  padding: 2rem 0;
  position: relative;
  left: 70%;
  text-align: center;
}
/* add-ons */
.reglement{
  background-color: white;
  width: 15%;



}
.zone-salons{
  width: 15%;
  background-color: white;
}
/* cadre du tchat */

main{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.center{
  display: flex;
}
.zone-cadre{
  background-color: white;
  width: 60%;
  text-align: center;

}
.zone-chan{

}
.zone-dicussion{
  width: 80%;
}
.zone-ligne{
  width: 20%;
}
.zone-message{
  height: 20rem;
}
.zone-de-texte{
  width: 90%;
}
.zone-de-texte > input{
  width: 100%;
  margin: 0;
}