/* body du site */

a {
  text-decoration: none;
}

body {
  background-color: grey;
}

h1{
  color: black;
  text-align: center;
}

.button-inscri{
  background-color: white;
  width: 10rem;
  padding: 2rem 0;
  position: relative;
  left: 70%;
  text-align: center;
}
/* add-ons */
.reglement{
  background-color: white;
  width: 20%;



}
.zone-salons{
  width: 15%;
  background-color: white;
}
/* cadre du tchat */


main{
  display: flex;
  margin-top: 5%;
}

.zone-cadre{
  background-color: white;
  width: 70%;

  text-align: center;

}

.zone-chan{

}

.zone-dicussion{
  height: 100%;
}

.zone-ligne{

}

.zone-de-texte{

  margin-right: 100%;

}
