body{
  background-color: grey;
  padding: 0;
  margin:0;
}
main{
  display: flex;
  align-items: stretch;
}
h1,h2{
  text-align: center;
  width: 100%;
}
h1,h2,h3{
  color: white;
  text-decoration: underline;
}
h3{
  margin: 0 0 1rem 0;
  text-align: left;
}
header{
  background: black;
  margin: 0;
  padding: 2rem;
}
.inscription{
  width: 70%;
  padding: 3rem;
  text-align: center;
}
.inscription .champs .line{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}
.inscription .champs .label{
  width: 40%;
}
.inscription .champs .label > input{
  padding: 1rem;
  width: 100%;
}
.inscription .form > button{
  width: 10rem;
  padding: 1rem;
}
.connect{
  width: 30%;
  padding: 3rem;
  text-align: center;
}
.connect .champs{
  padding: 2rem;
}
.connect .champs .label> input{
  padding: 1rem;
  width: 90%;
  margin-bottom: 4rem;
}
.connect .champs > input:last-child{
  margin: 0;
}
.connect .form button{
  width: 10rem;
  padding: 1rem;
}
.label h3{
  color: #ffd700;
}
